body{
  background:$white;
  font-family: 'Roboto Mono', helvetica, arial, verdana, sans-serif;
  font-size:12px;
  color:$body;
  position:relative;
}
.logo{
  margin:30px 0 15px -30px;
}
nav{

  ul{
    list-style:none;
    margin:0 0 0 -4px;
    padding:0;

    li{
      display:inline;
      margin-right:30px;

      a{
        color:$body;
        text-decoration:none !important;
        padding:0 6px 0 4px;
        position:relative;
        @include transition(all 0.2s linear);
        &:hover{
          text-decoration:none;
          border-bottom:2px solid $rose;
          @include box-shadow(inset 0 -6px 0 $rose);
        }
      }

      a.active{
        border-bottom:2px solid $rose;
        @include box-shadow(inset 0 -6px 0 $rose);
        bottom:0;
        &:hover{
          color:$rose;
          text-decoration:none;
        }
      }
    }
  }
}
.body-content{
  min-height:400px;
}
footer{
  font-size:0.8em;
  ul{
    list-style:none;
    margin:0 0 30px 0;
    padding:0;

    li{
      display:inline;
      margin-right:30px;
    }
  }
}
ul.sidebar-menu{
  list-style:none;
  margin:0 0 30px 0;
  padding:0;

  .active{
    font-weight:800;
    color:#77297f;
  }

  li{
    list-style:none;
    margin:0 0 10px 0;
    padding:0;
  }
}

/* TEXT */
h1{
  font-weight:800;
  font-size:1.5em;
}
h2{
  font-weight:800;
  font-size:1.25em;
}
/* AFFIX */
ul.affix{
  top:30px;
}
/* POLAROIDS Page */
#thumb{
  margin-bottom:30px;
}
/* VIDEO Index */
.video-item{
  color:$grey-9;
  @include transition(all 0.2s ease-in-out);
  &:hover{
    cursor:pointer;

  }

  p{
    padding:0 5px;
  }
  strong{
    color:$body;
  }
}
.modal-backdrop{
  background-color:transparent !important;
}
.video-clip{
  z-index:10000;
  @include box-shadow(none !important);
  background:$modal-transparent;

  button.close{
    color:$white;
    text-shadow:none;
    opacity:1;
    position:absolute;
    top:29px;
    right:30px;
    font-weight:500;
    font-size:1em;
  }
  .modal-dialog{
    @include box-shadow(none !important);
    @include border-radius(3px);
    width:600px;
    position:absolute;
    top:60px;
    left:50%;
    margin-left:-300px;
    text-align:left;
    padding:30px;
    background-color:$white;
    border-bottom:1px solid #ccc;

    .modal-content{
      @include box-shadow(none !important);
      border:none;
      @include border-radius(0 !important);
      background:transparent !important;


    }
  }
}
/* IMAGES INDEX */
.polaroid{
  z-index:10000;
  @include box-shadow(none !important);
  background:$modal-transparent;

  button.close{
    color:$white;
    text-shadow:none;
    opacity:1;
    position:absolute;
    top:29px;
    right:30px;
    font-weight:500;
    font-size:1em;
  }
  .modal-dialog{
    @include box-shadow(none !important);
    width:auto;
    height:auto;
    margin:0 auto;
    position:absolute;
    top:0;
    left:0;
    text-align:left;
    border-bottom:1px solid #ccc;
    background:transparent !important;
    text-align:center;

    .modal-content{
      @include box-shadow(none !important);
      border:none;
      @include border-radius(0 !important);
      background:transparent !important;

      img{
        margin-left:auto;
        margin-right:auto;
      }


    }
  }
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer,
.grid-item {
  width: 33.333%;
}
.grid-item {
  float: left;
}
.grid-item img {
  display: block;
  max-width: 100%;
}


/* CSS3 FADEIN */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade-in {
  -webkit-animation:fadeIn ease-in 0.5s;
  -moz-animation:fadeIn ease-in 0.5s;
  -o-animation: fadeIn ease-in 0.5s; /* Opera */
  animation:fadeIn ease-in 0.5s;
}

/* SALVATTORE GRID */
#grid[data-columns]::before {
	content: '3 .column.size-1of3';
}
#grid{
  .column {
    float: left;
    img{
      padding:5px;
    }
  }
  .size-1of1 { width: 100%; }
  .size-1of2 { width: 50%; }
  .size-1of3 { width: 33.333%; }
}
@media screen and (max-width: 767px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}
@media screen and (min-width: 768px) and (max-width: 989px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 990px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}


/* HELPERS */
.row-bottom-15{margin-bottom:15px;}
.row-bottom-30{margin-bottom:30px;}
.row-bottom-60{margin-bottom:60px;}
.row-bottom-90{margin-bottom:90px;}

/* MEDIA Q */
@media (min-width: 1600px){
.container {
    width: 1470px !important;
}
}
