<div class="container">
  <div class="row row-bottom-60">
    <div class="col-md-12">
      <footer>
        <ul>
          <li><a id="" href="/">Home</a></li>
          <li><a id="" href="{{ site.github.url }}/biography">Biography</a></li>
          <li><a id="" href="{{ site.github.url }}/discography">Discography</a></li>
          <li><a id="" href="{{ site.github.url }}/polaroids">Polariods</a></li>
          <li><a id="" href="{{ site.github.url }}/video">Video</a></li>
          <li><a id="" href="{{ site.github.url }}/archive">Archive</a></li>
          <li><a id="" href="{{ site.github.url }}/collection">Collection</a></li>
          <li>|</li>
          <li>See also: <a id="" href="http://www.nightporter.co.uk" target="_blank">nightporter.co.uk <i class="fa fa-external-link-square"></i></a></li>
        </ul>
        <p>&copy; 2008-2016 Life in Tokyo. Images, articles and video &copy; their respective owners. For issues concerning the usage of this content please <a href="mailto:">contact us</a>. <br />Life in Tokyo is a fan created archive and is in no way associated with the artists or their record companies.</p>
        <p>Help maintain Life in Tokyo => <a href="https://github.com/dreeeeewwwww/life-in-tokyo/pulls" target="_blank">make a pull request <i class="fa fa-github"></i></a>.
      </footer>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#nav-{{ page.nav }}").addClass("active");
</script>
