<ul class="nav scrollspy hidden-sm-down sidebar-menu element">
  <li class="nav-item"><a class="nav-link active" href="#band">Japan</a></li>
  <li class="nav-item"><a class="nav-link" href="#sylvian">David Sylvian</a></li>
  <li class="nav-item"><a class="nav-link" href="#karn">Mick Karn</a></li>
  <li class="nav-item"><a class="nav-link" href="#jansen">Steve Jansen</a></li>
  <li class="nav-item"><a class="nav-link" href="#barbieri">Richard Barbieri</a></li>
  <li class="nav-item"><a class="nav-link" href="#dean">Rob Dean</a></li>
  <li class="nav-item"><a class="nav-link" href="#etc">etc</a></li>
</ul>
