<ul class="nav scrollspy hidden-sm-down sidebar-menu element">
  <li class="nav-item"><a class="nav-link active" href="#bamboo">Bamboo Zine</a></li>
  <li class="nav-item"><a class="nav-link" href="#books">Books</a></li>
  <li class="nav-item"><a class="nav-link" href="#magazines">Magazines</a></li>
  <li class="nav-item"><a class="nav-link" href="#tour">Tour Programs</a></li>
  <li class="nav-item"><a class="nav-link" href="#posters">Posters</a></li>
  <li class="nav-item"><a class="nav-link" href="#merch">Merchandise</a></li>
  <li class="nav-item"><a class="nav-link" href="#articles">Articles</a></li>
  <li class="nav-item"><a class="nav-link" href="#connection">Connection</a></li>
  <li class="nav-item">--</li>
  <li class="nav-item"><a class="nav-link" href="#contribute">Contribute</a></li>
</ul>
