<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Life in Tokyo</h1>
      <nav>
        <ul>
          <li><a id="" href="/"><img src="http://lifeintokyo.net/images/japan_logo.gif" alt="Japan" title="Japan" /></a></li>
          <li><a id="" href="/bamboo/">Bamboo Fanzine Archive</a></li>
          <li><a id="" href="/biography">Biography</a></li>
          <li><a id="" href="/collection">Collection</a></li>
          <li><a id="" href="/connection">Connection</a></li>
          <li><a id="" href="/discography">Discography</a></li>
          <li><a id="" href="/info">info</a></li>
          <li><a id="" href="/polaroids">Polariods</a></li>
          <li><a id="" href="/video">Video</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
