<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Life in Tokyo</h1>
      <nav>
        <ul>
          <li><a id="" href="/"><img src="http://lifeintokyo.net/images/japan_logo.gif" alt="Japan" title="Japan" /></a></li>
          <li><a id="" href="{{ site.github.url }}/bamboo/">Bamboo Fanzine Archive</a></li>
          <li><a id="" href="{{ site.github.url }}/biography">Biography</a></li>
          <li><a id="" href="{{ site.github.url }}/collection">Collection</a></li>
          <li><a id="" href="{{ site.github.url }}/connection">Connection</a></li>
          <li><a id="" href="{{ site.github.url }}/discography">Discography</a></li>
          <li><a id="" href="{{ site.github.url }}/info">info</a></li>
          <li><a id="" href="{{ site.github.url }}/polaroids">Polariods</a></li>
          <li><a id="" href="{{ site.github.url }}/video">Video</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
