<div class="container">
  <div class="row">
    <div class="col-md-4">
      <a href="/"><img class="logo" src="/assets/images/japan_logo.gif" alt="Japan" title="Japan" /></a>
    </div>
  </div>
  <div class="row row-bottom-60">
    <div class="col-md-10 col-sm-10 col-xs-10">
      <!-- <img src="/assets/images/top_quietlife-copy.jpg" class="img-responsive" alt="Japan - Life in Tokyo" title="Japan - Life in Tokyo" /> -->
      <nav>
        <ul>
          <li><a id="nav-biography" href="{{ site.github.url }}/biography">Biography</a></li>
          <li><a id="nav-discography" href="{{ site.github.url }}/discography">Discography</a></li>
          <li><a id="nav-polaroids" href="{{ site.github.url }}/images">Images</a></li>
          <li><a id="nav-video" href="{{ site.github.url }}/video">Video</a></li>
          <li><a id="nav-archive" href="{{ site.github.url }}/archive/">Archive</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
