---
title: Images
layout: default
nav: images
js_footer:
- navigation.js

---
<div class="row row-bottom-60">
  <div class="col-md-12">
    <h1>Images</h1>

      {% for polaroid in site.data.polaroids.polaroids %}
        <div class="card-columns">
          {% for asset in polaroid.assets %}
            <div class="card card-polaroids">
              <img src="{{ base }}/assets/images/{{ asset.img }}" class="card-img" data-toggle="modal" data-target="#{{ asset.id }}" />
            </div>
            <div class="modal fade polaroid" id="{{ asset.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ asset.title }}">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <img src="{{ base }}/assets/images/{{ asset.img }}" class="img-responsive" />
                  <small>{{ asset.attribution }}</small>
                  <p>
                    {{ asset.title }}, {{ asset.description }}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>

</div>
