---
title: Images
layout: default
nav: images
js_footer:
- tether_menu.js
---
<div class="row row-bottom-60">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 target">
    {% for polaroid in site.data.polaroids.polaroids %}
      <h2 class="m-b-3">{{ polaroid.name }}</h2>
      <div class="card-columns">
        {% for asset in polaroid.assets %}
          <div class="card card-polaroids">
            <img src="{{ base }}/assets/images/{{ asset.img }}" class="card-img img-fluid" data-toggle="modal" data-target="#{{ asset.id }}" />
          </div>
          <div class="modal fade video-clip" id="{{ asset.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ asset.title }}">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <img src="{{ base }}/assets/images/{{ asset.img }}" class="img-responsive" />
                <div class="clearfix"></div>
                <p>
                  {% if asset.attribution != null %}
                    <cite><i class="fa fa-camera" aria-hidden="true"></i> {{ asset.attribution }}</cite>
                  {% endif %}
                  {% if asset.title != null %}{{ asset.title }} | {% endif %}{% if asset.description != null %}{{ asset.description }}{% endif %}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="col-lg-3 col-md-3 hidden-sm-down">
    {% include menu_images.html %}
  </div>
</div>
