---
title: Polaroids - Images
layout: default
nav: polaroids
---
<h1>Polaroids</h1>
<h2>Band</h2>
<div class="row row-bottom-60">
  {% for band in site.data.polaroids.bands %}
    <div id="thumb" class="col-md-1">
      <img src="{{ band.thumb }}" class="img-responsive" data-toggle="modal" data-target="#{{ band.id }}" />
    </div>
    <div class="modal fade video-clip" id="{{ band.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ band.title }}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <img src="{{ band.img }}" class="img-responsive" />
          <p>
            {{ band.title }}, {{ band.description }}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<h2>David Sylvian</h2>
<div class="row row-bottom-60">
  {% for sylvian in site.data.polaroids.sylvians %}
    <div id="thumb" class="col-md-1">
      <img src="{{ sylvian.thumb }}" class="img-responsive" data-toggle="modal" data-target="#{{ sylvian.id }}" />
    </div>
    <div class="modal fade video-clip" id="{{ sylvian.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ band.title }}">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <img src="{{ sylvian.img }}" class="img-responsive" />
          <p>
            {{ sylvian.title }}, {{ sylvian.description }}
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>



<div class="row row-bottom-60">

	
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_books.jpg" title="1981 (?)." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_booksT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_blurry.jpg" title="Photo by Fin Costello." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_blurryT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_makeup.jpg" title="Uhhh...wow." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_makeupT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_b01.jpg" title="Photo by Michael Putland." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_b01T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_vogue.jpg" title="VOGUE!." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_vogueT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_japan_FLcover.jpg" title="Cover of Fan Library, 1982" class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_japan_thumbFLC.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_com.jpg" title="Photo by Fin Costello." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_comT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_jansen04.jpg" title="Recording Tin Drum with Steve Nye. Photo by Steve Jansen. www.stevejansen.com/imageshop." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_jansen04T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_jansen03.jpg" title="Filming the Visions of China video. Photo by Steve Jansen. www.stevejansen.com/imageshop." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_jansen03T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_jansen01.jpg" title="Photo by Steve Jansen." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_jansen01T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_jansen02.jpg" title="Recording Bamboo Houses with Ryuichi Sakamoto. Photo by Steve Jansen. www.stevejansen.com/imageshop." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_jansen02T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_tdalt.jpg" title="Alternate 'Tin Drum' cover. Photo by Fin Costello." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_tdaltT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_flmic.jpg" title="From Fan Library, 1982. p. 23. Photo by Fin Costello." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_flmicT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_smoking.jpg" title="From Fan Library, 1982. p. 34. Photo by Fin Costello." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_smokingT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_tourists.jpg" title="Photo by Fin Costello." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_touristsT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_bwguitar.jpg" title="From Fan Library, 1982. p. 39. Photo by Virginia Turbett." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_bwguitarT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_aop12.jpg" title="From The Art of Parties single. Photo by Steve Jansen." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_aop12T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_rapport.jpg" title="From Fan Library, 1982. p. 37. Photo by Steve Rapport." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_rapportT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_corbijn.jpg" title="From, 'Oil on Canvas.' Photo by Anton Corbijn." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_corbijnT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_bam.jpg" title="From the Bamboo Music promo video, 1982." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_bamT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_smash84.jpg" title="From Smash Hits, 1984." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_smash84T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_b02.jpg" title="From Bamboo, Issue 12, 1987." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_b02T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_sylvian_opium01.jpg" title="Opium Arts postcard. Photo by Yuka Fujii (?). Thanks to Simon C. for the scan." class="thickbox menu_link" rel="sylvian"><img src="/assets/images/polaroids_sylvian_opium01T.jpg" border="0" /></a></div>
</div>

<h2>Mick Karn</h2>
<div class="row row-bottom-60">
  <div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_7803.jpg" title="1978." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_7803T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_7801.jpg" title="From Music Life, March 1979." class="thickbox menu_link" rel="mick"><img src="/assets/images/karn_01thumb.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_7802.jpg" title="1979." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_7802T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_scary.gif" title="From the 1980 Japanese tour book." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_scaryT.gif" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_blue02.jpg" title="From Fan Library, 1982. p. 13. Photo by Fin Costello." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_blue02T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_blkrd.jpg" title="Photo by Nicola Tyson." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_blkrdT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_sil.jpg" title="1981/2." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_silT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_reflec.jpg" title="1981/2." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_reflecT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/karn_03.jpg" title="1981/2" class="thickbox menu_link" rel="mick"><img src="/assets/images/karn_03thumb.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_sculp.jpg" title="Sculpture exhibition, Hamilton Gallery, London, 1980. Photo by Fin Costello." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_sculpT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_tgsculpt.jpg" title="From A Tourist's Guide to Japan, p. 12. Photo by Fin Costello." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_tgsculptT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_bowie.jpg" title="With Angie Bowie, 1980." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_bowieT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_jansen01.jpg" title="Photo by Steve Jansen. www.stevejansen.com/imageshop." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_jansen01T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_sax.jpg" title="Photo by Virginia Turbett." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_saxT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_studio.jpg" title="From A Tourist's Guide to Japan, p. 26. Photo by Fin Costello." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_studioT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_voc.jpg" title="Still from the Visions of China video, 1981." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_vocT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_FL01.jpg" title="From Fan Libary, 1982. p. 12. Photo by Steve Rapport." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_FL01T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_mao.jpg" title="From Fan Libary, 1982. p. 19. Photo by Fin Costello." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_maoT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_pcafe.jpg" title="With publicist Connie Fillipello at Karn's Penguin Cafe, 1981." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_pcafeT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_corbijn.jpg" title="From, 'Oil on Canvas.' Photo by Anton Corbijn." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_corbijnT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_karn_buoy.jpg" title="'Buoy' promo sot. From Bamboo, Issue 12, 1987." class="thickbox menu_link" rel="mick"><img src="/assets/images/polaroids_karn_buoyT.jpg" border="0" /></a></div>
</div>

<h2>Steve Jansen</h2>
<div class="row row-bottom-60">
  <div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_jansen_sun.jpg" title="1978." class="thickbox menu_link" rel="jansen"><img src="/assets/images/polaroids_jansen_sunT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_jansen_blue.jpg" title="From the 1980 Japanese tour book." class="thickbox menu_link" rel="jansen"><img src="/assets/images/polaroids_jansen_blueT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_jansen_s4pb.jpg" title="Thanks to S4pB for the scan." class="thickbox menu_link" rel="jansen"><img src="/assets/images/polaroids_jansen_s4pbT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_jansen_com01.jpg" title="From Fan Library, 1982. p. 16. Photo by Fin Costello." class="thickbox menu_link" rel="jansen"><img src="/assets/images/polaroids_jansen_com01T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_jansen_kit.jpg" title="From Fan Library, 1982. p. 16. Photo by Fin Costello." class="thickbox menu_link" rel="jansen"><img src="/assets/images/polaroids_jansen_kitT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_jansen_camera.jpg" title="From Fan Library, 1982. p. 16. Photo by Fin Costello." class="thickbox menu_link" rel="jansen"><img src="/assets/images/polaroids_jansen_cameraT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_jansen_FL01.jpg" title="From Fan Library, 1982. p. 17. Photo by Steve Rapport." class="thickbox menu_link" rel="jansen"><img src="/assets/images/polaroids_jansen_FL01T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_jansen_dog.jpg" title="From Fan Library, 1982. p. 21. Photo by Virginia Turbett." class="thickbox menu_link" rel="jansen"><img src="/assets/images/polaroids_jansen_dogT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_jansen_slides.jpg" title="From Fan Library, 1982. p. 22. Photo by Fin Costello." class="thickbox menu_link" rel="jansen"><img src="/assets/images/polaroids_jansen_slidesT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_jansen_hangin.jpg" title="1981 (?)." class="thickbox menu_link" rel="jansen"><img src="/assets/images/polaroids_jansen_hanginT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_jansen_tgsun.jpg" title="From A Tourist's Guide to Japan, p. 13. Photo by Fin Costello." class="thickbox menu_link" rel="jansen"><img src="/assets/images/polaroids_jansen_tgsunT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_jansen_corbijn.jpg" title="From 'Oil on Canvas.' Photo by Anton Corbijn." class="thickbox menu_link" rel="jansen"><img src="/assets/images/polaroids_jansen_corbijnT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_jansen_bcover.jpg" title="Cover of Bamboo, Issue 12, 1987." class="thickbox menu_link" rel="jansen"><img src="/assets/images/polaroids_jansen_bcoverT.jpg" border="0" /></a></div>
</div>

<h2>Richard Barbieri</h2>
<div class="row row-bottom-60">
	<div id="thumb" class="col-md-1"><img src="/assets/images/polaroids_barbieri_thumb01.gif" /></div>
  <div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_barb_glammy.jpg" title="Thanks to S4pB for the scan." class="thickbox menu_link" rel="barbieri"><img src="/assets/images/polaroids_barb_glammyT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_barb_blue.jpg" title="From the 1980 Japanese tour book." class="thickbox menu_link" rel="barbieri"><img src="/assets/images/polaroids_barb_blueT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_barb_radio.jpg" title="1981 (?)." class="thickbox menu_link" rel="barbieri"><img src="/assets/images/polaroids_barb_radioT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_barb_oberheim.jpg" title="From Bamboo, Issue 11, 1986." class="thickbox menu_link" rel="barbieri"><img src="/assets/images/polaroids_barb_oberheimT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_barb_fl01.jpg" title="From Fan Library, 1982. p. 28. Photo by Fin Costello." class="thickbox menu_link" rel="barbieri"><img src="/assets/images/polaroids_barb_fl01T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_barb_fl02.jpg" title="From Fan Library, 1982. p. 29. Photo by Fin Costello." class="thickbox menu_link" rel="barbieri"><img src="/assets/images/polaroids_barb_fl02T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_barb_fl03.jpg" title="Photo by Fin Costello." class="thickbox menu_link" rel="barbieri"><img src="/assets/images/polaroids_barb_fl03T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_barb_mao.jpg" title="Photo by Fin Costello." class="thickbox menu_link" rel="barbieri"><img src="/assets/images/polaroids_barb_maoT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_barb_fl04.jpg" title="From Fan Library, 1982. p. 32. Photo by Fin Costello." class="thickbox menu_link" rel="barbieri"><img src="/assets/images/polaroids_barb_fl04T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_barb_fl05.jpg" title="From Fan Library, 1982. p. 32. Photo by Fin Costello." class="thickbox menu_link" rel="barbieri"><img src="/assets/images/polaroids_barb_fl05T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_barb_fl06.jpg" title="From Fan Library, 1982. p. 33. Photo by Steve Rapport." class="thickbox menu_link" rel="barbieri"><img src="/assets/images/polaroids_barb_fl06T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_barb_corbijn.jpg" title="From, 'Oil on Canvas.' Photo by Anton Corbijn." class="thickbox menu_link" rel="barbieri"><img src="/assets/images/polaroids_barb_corbijnT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_barb_jansen01.jpg" title="Tokyo. Photo by Steve Jansen. www.stevejansen.com/imageshop." class="thickbox menu_link" rel="barbieri"><img src="/assets/images/polaroids_barb_jansen01T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_barb_roland700.jpg" title="With the Roland System 700. Photo by Fin Costello." class="thickbox menu_link" rel="barbieri"><img src="/assets/images/polaroids_barb_roland700T.jpg" border="0" /></a></div>
</div>

<h2>Rob Dean</h2>
<div class="row row-bottom-60">
  <div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_dean_b01.jpg" title="From Bamboo, Issue 9, 1986." class="thickbox menu_link" rel="dean"><img src="/assets/images/polaroids_dean_b01T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_dean_b02.jpg" title="From Bamboo, Issue 9, 1986." class="thickbox menu_link" rel="dean"><img src="/assets/images/polaroids_dean_b02T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_dean_b03.jpg" title="From Bamboo, Issue 9, 1986." class="thickbox menu_link" rel="dean"><img src="/assets/images/polaroids_dean_b03T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_dean_b04.jpg" title="From Bamboo, Issue 10, 1986." class="thickbox menu_link" rel="dean"><img src="/assets/images/polaroids_dean_b04T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_dean_b05.jpg" title="From Bamboo, Issue 11, 1986." class="thickbox menu_link" rel="dean"><img src="/assets/images/polaroids_dean_b05T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_dean_sinead.jpg" title="With Sin&eacute;ad O'Conner during her first live performance: a Bamboo Fanzine 'Moods' party, 1987." class="thickbox menu_link" rel="dean"><img src="/assets/images/polaroids_dean_sineadT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_dean_solo.jpg" title="Thanks to S4pB for the scan." class="thickbox menu_link" rel="dean"><img src="/assets/images/polaroids_dean_soloT.jpg" border="0" /></a></div>
</div>

<h2>ETC</h2>
<div class="row row-bottom-60">
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_yanosakamoto.jpg" title="Karn and Jansen with Akiko Yano and Ryuichi Sakamoto, 1982 (?)." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_yanosakamotoT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_tv.jpg" title="Jansen, Barbieri and Masami Tsuchiya on Japanese TV." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_tvT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_japanclub.jpg" title="Fan Club ad from Fan Library, 1982. p. 40." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_japanclubT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_tourad.jpg" title="Tour ad , 1982." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_touradT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_daliscar_costello.jpg" title="Peter Murphy and Mick Karn, 1984. Photo by Fin Costello." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_dc_costelloT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_fadc.jpg" title="Dali's Car fan art. From Bamboo, Issue 2, 1984." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_fadcT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_fadc02.jpg" title="Dali's Car fan art. From Bamboo, Issue 3, 1984." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_fadc02T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_fasylvian01.jpg" title="Fan art. From Bamboo, Issue 3, 1984." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_fasylvian01T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_fabamboo.jpg" title="Fan art. From Bamboo, Issue 4, 1985." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_fabambooT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_faweird.jpg" title="Fan art. From Bamboo, Issue 6, 1985." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_faweirdT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_faxmas.jpg" title="Fan art. From Bamboo, Issue 7, 1985." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_faxmasT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_fajb.jpg" title="Fan art. From Bamboo, Issue 7, 1985." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_fajbT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_fasylvian02.jpg" title="Fan art. From Bamboo, Issue 7, 1985." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_fasylvian02T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_fabamboo02.jpg" title="Fan art. From Bamboo, Issue 8, 1986." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_fabamboo02T.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_fatree.jpg" title="Fan art. From Bamboo, Issue 9, 1986." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_fatreeT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_fagtp.jpg" title="Fan art. From Bamboo, Issue 11, 1986." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_fagtpT.jpg" border="0" /></a></div>
	<div id="thumb" class="col-md-1"><a href="/assets/images/polaroids_etc_faseb.jpg" title="Fan art. From Bamboo, Issue 12, 1987." class="thickbox menu_link" rel="etc"><img src="/assets/images/polaroids_etc_fasebT.jpg" border="0" /></a></div>
</div>
