---
title: Discography
layout: default
nav: discography
js_footer:
- navigation.js
---
<h1>Discography</h1>

<div class="row row-bottom-60">
  <section id="discog-japan">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>japan</h2>
    </div>
    {% for discog in site.tags.discog-japan %}
      {% include tag_discog.html %}
    {% endfor %}
  </section>
</div>



			<div id="newsitems">
			<br />
			<span class="h1">JAPAN</span> <span class="h2">- <i>Albums</i></span>
				<br />
				<br />
				<table class="bodycopy" width="520" border="0">
					<tr class="discoglink">

						<td width="10%" align="left" valign="top"><font color="#999999">1978</font></td>
  						<td width="55%" align="left" valign="top"><a href="discography_AdolescentSex.html">Adolescent Sex</a></td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Ariola Hansa AHAL 8004</span></td>

 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1978</font></td>
  						<td width="55%" align="left" valign="top"><a href="discography_ObscureAlternatives.html">Obscure Alternatives</a></td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Ariola Hansa AHAL 8007</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1979</font></td>
  						<td width="55%" align="left" valign="top"><a href="discography_QuietLife.html">Quiet Life</a></td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Ariola Hansa AHAL 8010</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1980</font></td>
  						<td width="55%" align="left" valign="top"><a href="discography_GentlemenTakePolaroids.html">Gentlemen Take Polaroids</a></td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Virgin V2180</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1981</font></td>
  						<td width="55%" align="left" valign="top"><a href="discography_TinDrum.html">Tin Drum</a></td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Virgin V2209</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1983</font></td>
  						<td width="55%" align="left" valign="top"><a href="discography_OilonCanvas.html">Oil on Canvas</a></td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Virgin VD2513</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1991</font></td>
  						<td width="55%" align="left" valign="top"><a href="discography_RainTreeCrow.html">Rain Tree Crow - "Rain Tree Crow"</a></td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Virgin V2659</span></td>
 					</tr>
				</table>

			<br />
			<br />
			</div>

			<div id="newsitems">
			<br />
			<span class="h1">JAPAN</span> <span class="h2">- <i>Selected Compilations</i></span>
				<br />
				<br />
				<table class="bodycopy" width="520" border="0">
					<tr class="discoglink">

						<td width="10%" align="left" valign="top"><font color="#999999">1981</font></td>
  						<td width="55%" align="left" valign="top">Assemblage</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Ariola Hansa HANLP1</span></td>

 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1982</font></td>
  						<td width="55%" align="left" valign="top">Japan</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Epic 37914</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1984</font></td>
  						<td width="55%" align="left" valign="top">Exorcising Ghosts</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Virgin V3510</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1996</font></td>
  						<td width="55%" align="left" valign="top">The Singles</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">BMG 8613</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">2006</font></td>
  						<td width="55%" align="left" valign="top">The Very Best of Japan</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">EMI 367633</span></td>
 					</tr>

				</table>

			<br />
			<br />
			</div>

			<div id="newsitems">
			<br />
			<span class="h1">DAVID SYLVIAN</span> <span class="h2">- <i>Selected Discography</i></span>
				<br />
				<br />
				<table class="bodycopy" width="520" border="0">
					<tr class="discoglink">

						<td width="10%" align="left" valign="top"><font color="#999999">1982</font></td>
  						<td width="55%" align="left" valign="top">Bamboo Music <span class="lilreference">&nbsp;with Ryuichi Sakamoto</span>
						</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Virgin VS510</span></td>

 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1983</font></td>
  						<td width="55%" align="left" valign="top">Forbidden Colours <span class="lilreference">&nbsp;with Ryuichi Sakamoto</span></td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">VirginVS601-12</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1984</font></td>
  						<td width="55%" align="left" valign="top">Brilliant Trees</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Virgin V2290</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1987</font></td>
  						<td width="55%" align="left" valign="top">Secrets of the Beehive</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Virgin V2471</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left"><font color="#999999">1988</font></td>
  						<td width="55%" align="left" valign="top">Plight & Premonition <span class="lilreference">&nbsp;with Holger Czukay</span></td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Virgin V11(?)</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1989</font></td>
  						<td width="55%" align="left" valign="top">Flux + Mutability <span class="lilreference">&nbsp;with Holger Czukay</span></td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Virgin V43(?)</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1993</font></td>
  						<td width="55%" align="left" valign="top">The First Day <span class="lilreference">&nbsp;with Robert Fripp</span></td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Virgin V2-88208</span></td>
 					</tr>
						<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">2003</font></td>
  						<td width="55%" align="left" valign="top">Blemish</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Samadhisound SS001</span></td>
 					</tr>
						<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">2005</font></td>
  						<td width="55%" align="left" valign="top">Nine Horses - "Snow Borne Sorrow"<br /><span class="lilreference">with Steve Jansen, Burnt Friedman</span></td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Samadhisound SS006</span></td>
 					</tr>
				</table>

			<br />
			<br />
			</div>

			<div id="newsitems">
			<br />
			<span class="h1">MICK KARN</span> <span class="h2">- <i>Selected Discography</i></span>
				<br />
				<br />
				<table class="bodycopy" width="520" border="0">
					<tr class="discoglink">

						<td width="10%" align="left" valign="top"><font color="#999999">1982</font></td>
  						<td width="55%" align="left" valign="top">Titles</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Virgin V2249</span></td>

 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1984</font></td>
  						<td width="55%" align="left" valign="top">Dali's Car - "The Waking Hour"</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Paradox DOXLP 1</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1987</font></td>
  						<td width="55%" align="left" valign="top">Dreams of Reason Produce Monsters</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Virgin V2389</span></td>
 					</tr>

				</table>

			<br />
			<br />
			</div>

				<div id="newsitems">
			<br />
			<span class="h1">STEVE JANSEN</span> <span class="h2">- <i>Selected Discography</i></span>
				<br />
				<br />
				<table class="bodycopy" width="520" border="0">
					<tr class="discoglink">

						<td width="10%" align="left" valign="top"><font color="#999999">1986</font></td>
  						<td width="55%" align="left" valign="top">Stay Close <span class="lilreference">&nbsp;with Yukihiro Takahashi</span>
						</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Rime RIME 1</span></td>

 					</tr>
					<tr class="discoglink">

						<td width="10%" align="left" valign="top"><font color="#999999">2007</font></td>
  						<td width="55%" align="left" valign="top">Slope</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Samadhisound SS012</span></td>

 					</tr>

				</table>

			<br />
			<br />
			</div>

			<div id="newsitems">
			<br />
			<span class="h1">JANSEN / BARBIERI</span> <span class="h2">- <i>Selected Discography</i></span>
				<br />
				<br />
				<table class="bodycopy" width="520" border="0">
					<tr class="discoglink">

						<td width="10%" align="left" valign="top"><font color="#999999">1985</font></td>
  						<td width="55%" align="left" valign="top">Worlds in A Small Room</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Victor VIL-6155</span></td>

 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1987</font></td>
  						<td width="55%" align="left" valign="top">The Dolphin Brothers - "Catch the Fall"</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Virgin V2434</span></td>
 					</tr>
					<tr>
  						<td width="10%" align="left" valign="top"><font color="#999999">1991</font></td>
  						<td width="55%" align="left" valign="top">Stories Across Borders</td>
  						<td width="35%" align="left" valign="top"><span class="discography_verdana">Venture CDVE 908</span></td>
 					</tr>

				</table>

			<br />
			<br />

			</div>
